[user]
	name = scainimatteo
	email = matteo.scaini.02031999@gmail.com

[alias]
    s = status
    b = branch -vv
    pushall = !git remote | xargs -L1 git push --all
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg2"
    l = lg
	d = difftool

[core]
    editor = vim
	pager = less -+X -+F

[diff]
	tool = vimdiff
